/*general style*/

/*disable text selection*/
body {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}

/*general style for slides*/


/*text*/


/*stables*/


/*progress bar*/


/*buttons*/


/*images*/

